<p>&nbsp;</p>
<div style="display:flex;vertical-align:middle;">
  <input
    type="checkbox"
    [(ngModel)]="isAdditionalField"
    (change)="toggleAdditionalField($event.target.checked)"
  />
  <label for="isAdditionalField">Ek alan ekle</label>
</div>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name" />
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" />
  </div>
  <div *ngIf="isAdditionalField">
    <label for="email">Additional Field</label>
    <input type="text" id="additionalField" formControlName="additionalField" />
  </div>
  <div>
    <button type="submit" [disabled]="!myForm.valid">Gönder</button>
  </div>
</form>
